blib
*.old
*.bak
*~
pm_to_blib
examples/backpan_indexer.log
.DS_Store
MyCPAN-*
cover_db
blib
*.log
Makefile
examples/backpan_indexer.config
.DS_Store
examples/*.config
examples/test_use.db
indexer_reports
MyCPAN.bbproject
Debian*
*.sqlite
*.yml
MYMETA.json
examine_inc_md5/backpan_md5.db
examine_inc_md5/shas.txt
examine_inc_md5/output.txtexamine_inc_md5/*.txt
examine_inc_md5/backpan_md5_internal.txt
examine_inc_md5/output.txt
