blib
*.old
*.bak
pm_to_blib
examples/backpan_indexer.log
.DS_Store
MyCPAN-*
cover_db
blib
*.log
Makefile
examples/backpan_indexer.config
.DS_Store
examples/*.config
examples/test_use.db
indexer_reports
MyCPAN.bbproject
Debian*
