!Build/
*.bak
*.bbproj
*.bs
*.log
*.o
*.old
*.rej
*.sqlite
*.tar
*.tar.gz
*.tgz
*.yml
*.zip
*~
.DS_Store
.last_cover_stats
.prove
/.build/
/MANIFEST.bak
/META.*
/MYMETA.*
/Makefile
/Makefile.old
/blib/
/pm_to_blib
Build
Build.bat
Debian*
MYMETA.json
Makefile
MyCPAN-*
MyCPAN.bbproject
_build/
blib
cover_db
cover_db/
examine_inc_md5/backpan_md5.db
examine_inc_md5/backpan_md5_internal.txt
examine_inc_md5/output.txt
examine_inc_md5/output.txtexamine_inc_md5/*.txt
examine_inc_md5/shas.txt
examples/*.config
examples/backpan_indexer.config
examples/backpan_indexer.log
examples/test_use.db
inc/
indexer_reports
nytprof.out
pm_to_blib
