#backpan_dir /Volumes/Maxtor 120/BackPAN/authors/id/B/BD/BDFOY
backpan_dir /Users/brian/Desktop/Test
#report_dir  /Volumes/Maxtor 120/BackPAN indexer/test
#temp_dir    /Volumes/Maxtor 120/BackPAN indexer/temp
report_dir  /Users/brian/Desktop/Test/report
temp_dir    /Users/brian/Desktop/Test/tmp
alarm       15
copy_bad_dists /dev/null
retry_errors 1
